  nav.navbar{
	background: pink;	
	border: pink;
}
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }
  .carousel-inner img{
  	/*width="460" height="345"*/
  	height: 300px !important;
  }
  .glyphicon-time{
  	font-size: 50px;
  }
  .txt-20{
  	font-size: 20px;
  }
.inline{
	display: inline;
}
.bold{
	font-weight: bold;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: pink;
}
a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.btn-default{
	background-color: black;
	color:white;
	border-color: black;
}
.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default:visited {
    color: white;
    background-color: black;
    border-color: black;
}
.delante{
	z-index: 10;
}
/*
nav.navbar{
	background: transparent;	
	border: transparent;
}*/
.pd-3{
	padding-bottom: 5%;
}
.logo{
	max-width: 10%;
	display:inline;
}
.company{
	max-width: 40%;
}
.distra{
	max-width: 60%;
	height: 150px;
}
.ex4 {
	width: 30%;
	height: 30%;
	line-height: 0px;
	color: transparent; 
	font-size: 2em;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	}
.ex4:hover {
	line-height: 90%;
	color: #575858;
	}
.ex4 img{ 
	float: bottom;
	margin: 15% 15%;
}
.pd-sec{
	padding-bottom:1%;
	padding-top:1%;
}
.pd-top{
	padding-top:2%;
}
.blue:hover{
  opacity:1;
}

.blue {
    position: absolute;
    left: 25%;
    top: 10%;
    max-width: 50%;
    opacity: 0;
}

.img{
	width:80%;
	margin:2%;
}
.back{
	background: pink;
}
